<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jimjams.airmonitor">

   <uses-permission android:name="android.permission.BLUETOOTH"/>
   <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
   <!-- ADDED PERMISSIONS FOR AUDIO RECORD & WRITE PERMISSIONS
        This is for getting the sound level -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


   <application android:allowBackup="true"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:theme="@style/AppTheme">
      <activity android:name=".MainActivity"
                android:label="@string/app_name">

          <meta-data
              android:name="com.google.android.gms.version"
              android:value="@integer/google_play_services_version" />

         <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>
      </activity>
      <!-- @windowSoftInputMode keeps virtual keyboard from appearing immediately when screen is
           opened. -->
      <activity android:name=".EMAActivity"
                android:label="@string/title_activity_ema"
                android:parentActivityName=".MainActivity"
                android:windowSoftInputMode="stateHidden">
         <meta-data android:name="android.support.PARENT_ACTIVITY"
                    android:value="jimjams.airmonitor.MainActivity"/>
      </activity>
      <activity android:name=".HistoryActivity"
                android:label="@string/title_activity_history"
                android:parentActivityName=".MainActivity">
         <meta-data android:name="android.support.PARENT_ACTIVITY"
                    android:value="jimjams.airmonitor.MainActivity"/>
      </activity>

      <activity android:name=".BluetoothActivity"
                android:label="@string/title_activity_bluetooth"
                android:parentActivityName=".MainActivity">
         <meta-data android:name="android.support.PARENT_ACTIVITY"
                    android:value="jimjams.airmonitor.MainActivity"/>
      </activity>

       <activity android:name=".MapActivity"
           android:label="@string/title_activity_map"
           android:parentActivityName=".MainActivity">
           <meta-data android:name="android.support.PARENT_ACTIVITY"
               android:value="jimjams.airmonitor.MainActivity" />
           </activity>


       <meta-data
           android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />

       <meta-data
           android:name="com.google.android.geo.API_KEY"
           android:value="AIzaSyCceAzopDwHYAd9vajsBVnJftKUSWNPxTk"/>
   </application>

</manifest>
